body{
    border:250px;
}
table{
    height:300px;
    width:300px;
    border:2px solid black;
}
td{
    border:2px solid black;
    text-align:center;
     font-size: large;
    color: blue;
}
.raj{
    padding-top: 30px;
    padding-bottom:30px

}

